.listItem{
    border-top: 1px solid lightgrey;
}

.custom-icon {
    background-color: #979593;
    color: white;
    padding: 3px;
}

.slds-card {
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.1);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.loading-spinner-container {
    position: relative;
}

.card  {
    min-height: 50px;
}